{% extends 'base.html' %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% if object %}Изменить статус{% else %}Создать статус{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="id_name">Имя</label>
            <input type="text" name="name" maxlength="100" 
                   class="form-control {% if form.name.errors %}is-invalid{% endif %}" 
                   value="{{ form.name.value|default_if_none:'' }}" 
                   placeholder="Имя" required id="id_name">
            {% if form.name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">{% if object %}Изменить{% else %}Создать{% endif %}</button>
    </form>
</div>
{% endblock %}