{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="container my-4">
  <h1 class="my-4">Вход</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label class="form-label" for="id_username">Имя пользователя</label>
      <input
       type="text"
       name="username"
       maxlength="150"
       class="form-control"
       placeholder="Имя пользователя"
       required id="id_username">
      {{ form.username.errors }}
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_password">Пароль</label>
      <input
       type="password"
       name="password"
       class="form-control"
       placeholder="Пароль"
       required id="id_password">
      {{ form.password.errors }}
    </div>
    <input class="btn btn-primary" type="submit" value="Войти">
  </form>
</div>
{% endblock %}