{% extends 'base.html' %}

{% block content %}
<div class="container wrapper flex-grow-1"></div>
<h1 class="my-4">Метки</h1>
<a class="btn btn-primary mb-3" href="{% url 'labels:label_create' %}">Создать метку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'labels:label_update' label.pk %}">Изменить</a>
                <br>
                <a href="{% url 'labels:label_delete' label.pk %}">Удалить</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Нет меток.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}