{% extends 'base.html' %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% if object %}Изменение задачи{% else %}Создать задачу{% endif %}</h1>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="id_name">Имя</label>
            <input type="text" name="name" maxlength="255" class="form-control {% if form.name.errors %}is-invalid{% endif %}" 
                   value="{{ form.name.value|default_if_none:'' }}" 
                   placeholder="Имя задачи" required id="id_name">
            {% if form.name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="id_description">Описание</label>
            <textarea name="description" class="form-control {% if form.description.errors %}is-invalid{% endif %}" 
                      placeholder="Описание" id="id_description" rows="5">{{ form.description.value|default_if_none:'' }}</textarea>
            {% if form.description.errors %}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
          <label class="form-label" for="{{ form.status.id_for_label }}">Статус</label>
            {{ form.status }}
            {% if form.status.errors %}
              <div class="invalid-feedback d-block">
                {% for error in form.status.errors %}{{ error }}{% endfor %}
              </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
          <label class="form-label" for="{{ form.executor.id_for_label }}">Исполнитель</label>
            {{ form.executor }}
            {% if form.executor.errors %}
              <div class="invalid-feedback d-block">
                {% for error in form.executor.errors %}{{ error }}{% endfor %}
               </div>
            {% endif %}
        </div>

        <div class="mb-3">
          <label class="form-label" for="{{ form.labels.id_for_label }}">Метки</label>
          {{ form.labels }}
          {% if form.labels.errors %}
            <div class="invalid-feedback d-block">
              {% for error in form.labels.errors %}{{ error }}{% endfor %}
            </div>
          {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">{% if object %}Изменить{% else %}Создать{% endif %}</button>
    </form>
</div>
{% endblock %}