{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">Пользователи</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.date_joined|date:"d.m.Y H:i" }}</td>
        <td>
          {% if user.is_authenticated %}
            <a href="{% url 'users:update' u.id %}">Изменить</a>
            <br>
            <a href="{% url 'users:delete' u.id %}">Удалить</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="6">Пользователей пока нет.</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}